@page  "/Pedido/ListPedido"
@using System.Net.Http
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Pedido</h3>
@*
<div class="card-body">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">ValorTotal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in pedidoList)
            {
            <tr>
                <td>@item.Item</td>
                <td>@item.ValorTotal</td>
                <td>
                    <a href="/Pedido/EditPedido/@item.Id.ToString()" ><button class="btn btn-success">Editar</button></a>
                    <button class="btn btn-danger" @onclick="@(() => DeletePedido(item.Id))">Delete</button>
                </td>
            </tr>
            }   
        </tbody>
    </table>
</div>

@code {

    private List<Pedido> pedidoList = new List<Pedido>();

    protected override async Task OnInitializedAsync()
    {

        var pedidos = await Http.GetFromJsonAsync<List<Pedido>>("/Pedido/List");
        foreach (var item in pedidos)
        {
            pedidoList.Add(item);
        }
    }

    private async Task DeletePedido(int itemId)
    {
        //call controller
        await Http.DeleteAsync("/Pedido/Delete/"+itemId);
        NavigationManager.NavigateTo("Pedido/ListPedido", true);
    }

}
*@