@page  "/Lanche/EditLanche"
@page "/Lanche/EditLanche/{Item}"
@using System.Net.Http
@inject HttpClient Http
@inject NavigationManager NavigationManager
<!--
<div class="card m-3">
    <h4 class="card-header">Atualizar Lanches</h4>
    <div class="card-body">
        <EditForm Model="@lanche" OnValidSubmit="HandleValidSubmit" @onreset="HandleReset">
            <DataAnnotationsValidator />
            <div class="form-row">
                <div class="form-group col-5">
                    <label>Nome do lanche</label>
                    <InputText @bind-Value="lanche.Nome" class="form-control" />
                    <ValidationMessage For="@(() => lanche.Nome)" />
                </div>
                <div class="form-group col-5">
                    <label>Nome do ingrediente</label>
                    <InputText @bind-Value="lanche.Ingredientes.Nome" class="form-control" />
                    <ValidationMessage For="@(() => lanche.Ingredientes.Nome)" />
                </div>
                <div class="form-group col-5">
                    <label>Valor</label>
                    <InputNumber @bind-Value="lanche.Valor" class="form-control" />
                    <ValidationMessage For="@(() => lanche.Valor)" />
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary mr-1">Salvar</button>
                <button type="reset" class="btn btn-secondary">Cancel</button>
            </div>
        </EditForm>
    </div>
</div>
-->
@code {

    private Lanche lanche = new Lanche();
    private EditContext editContext { get; set; }

    [Parameter]
    public string Item { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var itemId = Item;
        lanche = await Http.GetFromJsonAsync<Lanche>($"/Product/GetById?id={itemId}");
        editContext = new EditContext(lanche);
    }

    private async Task HandleValidSubmit()
    {
        //Enviar dados para o Controller no Backend
        var teste = await Http.PutAsJsonAsync("/Lanche/Update", lanche);
        NavigationManager.NavigateTo("lanche/ListLanche");
    }

    private void HandleReset()
    {
        lanche = new Lanche();
        editContext = new EditContext(lanche);
    }

    

}

